/* screen */
$sma: 640px;
$med: 900px;
$con: 1195px;
$footerSize: 192px;

/* colors */
$white: #F5F3FA;
$black: #1a1a1a;
$gray: #504a4a;
$red: #e23636;
$blue: #518cca;
$orange: #f78f3f;

/* font size */
$fontSize1: 6rem;
$fontSize2: 4.5rem;
$fontSize3: 2.375rem;
$fontSize4: 1.5rem;
$fontSize5: 1.125rem;
$fontSize6: 1rem;
$fontSize7: 0.75rem;
$menuFontSize: 1.125rem;

/* radius */
$radius1: 8px;
